* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3b3b3b;
}

.card {
    /* background-color: pink; */
    width: 90%;
    max-width: 600px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    /* background: url(https://images.unsplash.com/photo-1475070929565-c985b496cb9f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 45px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
  align-items: center;
  display:flex ;
  justify-content: center;

  
}
.search button:hover{
    background-color: #07F2B7;
    transform: scale(1.1);
   
}
.search button img{
    width: 16px;
    

   
}

.weather-icon{
    width: 170px;
    margin: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
    
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.heading{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 50px;
   
}